@using Umbraco.Cms.Core.Models.PublishedContent
@using Umbraco.Core.Models
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<Page>

<footer class="border-top align-top text-muted box-shadow bg-white">
	<div class="">

		<div class="col-md-8 container navbar navbar-expand-sm navbar-light border-bottom">
			<a class="navbar-brand text-nowrap" href="@Model.Root().Url()">
				<img src="@(Model.Setting.Value<MediaWithCrops>("SiteLogo").MediaItem.MediaUrl())" style="width:64px" />

				@Model.Setting.Value("SiteName")
			</a>

			<ul class="navbar-nav flex-grow-1">
				@foreach (var navItem in Model.Setting.Value<IEnumerable<IPublishedElement>>("NavItems"))
				{
					//if ((bool)navItem.Value("Visible"))
					{
						<li class="nav-item">
							<a class="nav-link text-dark" href="@(((IPublishedContent)navItem.Value("ContentLink")).Url())">@navItem.Value("Label")</a>
						</li>
					}
				}
			</ul>

			@{
				var sotialLinks = Model.Setting.Value<IEnumerable<IPublishedElement>>("SocialLinksList");
				if (sotialLinks != null)
				{
					<div class="h4">
						@Model.Setting.Value("SocialLinksMessage")
					</div>

					<ul class="navbar-nav flex-grow-1">
						@foreach (var sotialLink in sotialLinks)
						{
							//if ((bool)sotialLink.Value("Visible"))
							{
								var icon = sotialLink.Value<MediaWithCrops>("Icon");
								<li class="nav-item">
									<a class="nav-link text-dark" target="_blank" href="@sotialLink.Value("LinkUrl")">
										<img src="@icon.MediaItem.Url()" style="height:32px; text-align: center" />
									</a>
								</li>
							}
						}
					</ul>
				}
			}
		</div>
		<div class="col-md-6 container-fluid text-center text-md-leftmt-md-0 text-wrap ">
			<p>@Html.Raw(Model.Setting.Value("SiteDescription").ToString().Replace("\n", "<br />"))</p>

			<div class="footer-copyright text-center border-top">
				<p>@Html.Raw(Model.Setting.Value("Copyright").ToString().Replace("\n", "<br />"))</p>
			</div>
		</div>

	</div>

</footer>