@using Umbraco.Cms.Core.Services
@using Umbraco.Cms.Core.Models.PublishedContent
@using Umbraco.Core.Models
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<Settings>
@inject ILocalizationService LocalizationService


	<header>
		<nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
			<div class="container">
				<a class="navbar-brand text-nowrap" href="@Model.Root().Url()">
					<img src="@(Model.Value<MediaWithCrops>("SiteLogo").MediaItem.MediaUrl())" style="width:128px" />

					@(Model.Value("SiteName"))
				</a>


				<button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
						aria-expanded="false" aria-label="Toggle navigation">
					<span class="navbar-toggler-icon"></span>
				</button>
				<div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
					<ul class="navbar-nav flex-grow-1">
						@foreach (var navItem in Model.Value<IEnumerable<IPublishedElement>>("NavItems"))
						{
							//if ((bool)navItem.Value("Visible"))
							{
								<li class="nav-item">
									<a class="nav-link text-dark" href="@(((IPublishedContent)navItem.Value("ContentLink")).Url())">@navItem.Value("Label")</a>
								</li>
							}
						}
					</ul>
				</div>

				<div class="dropdown">
					<a class="btn btn-light dropdown-toggle" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
						<img src="@Umbraco.Media(7069).Url()">
					</a>

					<div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
						@foreach (var culture in LocalizationService.GetAllLanguages())
						{
							//можно ли переключать на тот же
							<a class="dropdown-item
						@(culture.CultureInfo != Umbraco.CultureDictionary.Culture ? "bg-light" : "bg-secondary")"
							   href="@Umbraco.Content(Model.Root().Id).Url(culture.IsoCode)">
								@LocalizationService.GetLanguageByIsoCode(culture.IsoCode).CultureInfo.NativeName
							</a>
						}
					</div>
				</div>

			</div>
		</nav>
	</header>
